<div class="col-md-4 offset-4 mt-3">
    <input type="search" [(ngModel)]='searchName' (keyup)='searchMovies(searchName)' 
    placeholder="Search movie by name..." class="form-control text-center">
</div>
<div class="col-md-4 offset-1 float-left mt-3 card card-body" *ngFor="let movie of movieArray">
    <img src="{{movie.Poster}}" style="height: 200; width: 200;border:5px dashed black" alt="">
    <h4 class="text-center" style="background-color: gold">{{movie.Title}}</h4>
    <h5 class="text-center" style="border:1px dotted black">{{movie.Year}}</h5>

</div>
